---
import AboutHeroImage from '../assets/About.mp4';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025')}
	heroImage={AboutHeroImage}
>
	<p>
	Hi, I’m Ayushman Malla — a hardware engineer, researcher, and builder who enjoys thinking at the intersection of computation, 
    design, and intelligence. I’m currently exploring how abstraction, verification, and synthesis shape the boundary between algorithms 
	and silicon. My work often revolves around FPGA design, high-level synthesis (HLS), and digital verification, with a deep curiosity 
	about how hardware can be reimagined for AI and high-performance systems.
	</p>

	<p>
	Recently, I’ve been working at Transcelestial as an FPGA/Hardware Engineering Intern, developing a kind of packet forwader for 10G Ethernet.
	Beyond hardware, I’ve built some fun AI/ML Projects ranging from financial analytics tools to deep learning models for Medical Imaging and Autonomous
	Vehicles. I enjoy bridging low-level systems knowledge with modern ML models, understanding the full stack from transistor logic to inference runtime.
	</p>

	<p>
		Outside of engineering, I find satisfaction in solving math puzzles((for some reason I am obssessed with Rubik's cubes), watching people cook and playing tennis!
		I value precision, iteration, and clarity of thought — qualities that guide how I approach both design problems 
		and life in general.
	</p>

	<p>
		I’m also fascinated by meta-cognition: how people structure knowledge, synthesize abstractions, and turn insight into execution. I usually try to focus 
		on sharpening my reasoning frameworks — the kind of mental architecture that powers both great hardware design and great decision-making.
	</p>

	<p>
		This portfolio is a space where I share my projects, reflections, and ideas — from technical breakdowns to thought experiments. 
		At its core, it’s a record of one ongoing pursuit: to build systems — and ways of thinking — that scale.
	</p>
</Layout>
