---
const today = new Date();
---

<footer class="text-center py-8">
	<div class="text-slate-400">
		&copy; {today.getFullYear()} Ayushman. All rights reserved.
	</div>
	<div class="flex justify-center space-x-6 mt-4">
		<a href="https://github.com/AyushmanMalla" target="_blank" rel="noopener noreferrer" class="text-slate-400 hover:text-accent-green">
			GitHub
		</a>
		<a href="https://www.linkedin.com/in/ayushman-malla-952900229/" target="_blank" rel="noopener noreferrer" class="text-slate-400 hover:text-accent-green">
			LinkedIn
		</a>
		<a href="mailto:ayushman.malla@e.ntu.edu.sg" class="text-slate-400 hover:text-accent-green">
			Email
		</a>
	</div>
</footer>
