---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-dark-bg border-b-2 border-slate-800">
	<nav class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between items-center py-4">
			<h2 class="text-2xl font-bold text-slate-100">
				<a href="/">{SITE_TITLE}</a>
			</h2>
			<div class="flex space-x-4">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
	</nav>
</header>
